@font-face {
	font-family: "OswaldBold";
	src: url("./../fonts/Oswald-Bold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "OswaldRegular";
	src: url("./../fonts/Oswald-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}