// ШРИФТЫ
$font-main: 'Jost', sans-serif;
$font-secondary : 'DM Serif Display', serif;
// ШРИФТЫ

// ЦВЕТА САЙТА
$dark: #333;
$black: #292F36;
$white: #fff;
$gray: #4D5053;
$green: #406636;
// ЦВЕТА САЙТА
